/* General styles for the application */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.table {
  width: 80%;
}

.row {
  font-size: 18px;
  display: flex;
  background-color: #f9f9f9;
  margin: 20px;
  min-height: 40px;
  align-items: center;
}

.row > div {
  /* border-left: 2px solid #e1e1e1; */
  /* border-right: 2px solid #e1e1e1;*/
  border-width: 3px;
  flex: 1;
  text-align: center;
}

.row > div + div { /* Get rid of double borders */
  border-left: 0px;
}

.row > div > p {
  margin: 10px 0px 10px 0px;
}

.correct {
  background-color: #6ccd4a;
}

.correctElement {
  color: #6ccd4a;
}

.closeElement {
  color: #ece314;
}

/* Scrollable container styles */
.scrollable-container {
  max-height: 200px; /* Adjust height as needed to show 5 actors */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar styles */
.scrollable-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 6px; /* Optional: round the scrollbar */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar color on hover */
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* New styles for search bar and button */
.search-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.search-container input[type="text"] {
  width: 400px; /* Adjust width as necessary */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px; /* Makes the input rounded */
  font-size: 16px;
  margin-right: 10px;
}

.search-container input[type="text"]::placeholder {
  font-size: 16px;
  color: #aaa;
}

.give-up-button {
  padding: 10px 20px;
  background-color: #d9534f; /* Red color */
  border: none;
  border-radius: 20px; /* Makes the button rounded */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.give-up-button:hover {
  background-color: #c9302c; /* Darker red on hover */
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  position: relative; /* Ensure the icon is positioned relative to this container */
}

.search-icon {
  position: absolute;
  right: 120px; /* Position it inside the input field */
  cursor: pointer;
}
